# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# WordPress Coding Standards
# https://make.wordpress.org/core/handbook/coding-standards/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

# [{.jshintrc,*.yml}]
# indent_style = space
# indent_size = 2

[*.txt]
end_of_line = crlf

# Target only the design pattern files
# Override: Disable final newline for block patterns, and prevent HTML and delimiters from indenting markup.
# This will help the WP parser read the file and clear the display of 'Classic' in the editor before the pattern insertion point.
[src/patterns/*.php]
insert_final_newline = false
indent_size = 0
indent_style = space

# JetBrains-specific overrides for PHPStorm
ij_php_indent_size = 0
ij_html_indent_size = 0
ij_visual_guides = none