/* Styles targeting the `Email Signup Form` header block, footer block, and submit button. */

/* Form header block */
.email-form-header-block-container .nf-field .nf-field-element,
.email-form-footer-block-container .nf-field .nf-field-element	{
	text-align: center !important;
}

.email-form-header-block-container .nf-field-element h3,
.email-form-header-block-container .nf-field-element p,
.email-form-footer-block-container .nf-field .nf-field-element p	{
	text-align: center !important;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
}

/* Form submit button container and descendant elements. */
.email-form-submit-button-container .nf-field,
.email-form-submit-button-container .field-wrap,
.email-form-submit-button-container .nf-field-element {
	float: none !important;
	width: 100% !important;
	display: flex !important;
	justify-content: center !important;
	clear: both !important;
}

/* Style the button itself. */
.email-form-submit-button-container input[type="submit"] {
	width: auto !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: block !important;
}
